{% load static %}
<!doctype html>
<html>
    <style>
        body {
          background-image: url('{% static '/images/fon.jpg' %}');
          background-position: center;
          background-attachment: fixed; 
          background-size: cover;
        }
        h1, p{
            background: rgba(255, 250, 205, 0.7);
            color:#4B0082;
            padding: 5px;
        }
        .table-light{
            border-radius:10px;
            background-color: rgba(255, 250, 205, 0.9);
        }
    
    </style>
    {% block content %}
        <center>
        <h1 class="display-3">Add record</h1>
        <form method = 'POST' enctype="multipart/form-data">
            <p>Enter date in format DD/MM/YYYY.</p>
            {% csrf_token %}
            <table class = 'table-light' >
                {% for field in upload_form %}
                <tr>
                    <th>{{field.label}}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-lg btn-warning">Submit</button>
        </form> 
        </center>
    {% endblock %}
</html>